body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.header {
  background-image: url(../images/images_building.png);
  color: white;

}

.footer {
  text-align: left;
}

.footer {
  font-size: 11px;
}
